/* custom font */
@font-face {
    font-family: 'Red Hat Display';
    src: url(https://fonts.gstatic.com/s/redhatdisplay/v19/8vIf7wUr0m80wwYf0QCXZzYzUoTK8RZQvRd-D1NYbmyWQkEz-Eec.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }

  @font-face {
    font-family: 'Red Hat Display';
    src: url(https://fonts.gstatic.com/s/redhatdisplay/v19/8vIf7wUr0m80wwYf0QCXZzYzUoTK8RZQvRd-D1NYbmyWQk8z-A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/* gradient background */
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    align-items: center;
    background: linear-gradient(45deg, #34F9EE, #f068ba);
    background-repeat: repeat-y;
    background-size: cover;
    color: #FFFFFF;
    display: flex;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 18px;
    justify-content: center;
    margin: 0;
    text-align: center;
}

* {
    box-sizing: border-box;
}

h2 {
    font-size: 27px;
    font-style: italic;
}

#container {
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
}

/* welcome screen */
#welcome {
    align-items: center;
    border: 2px solid;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    left: 0;
    margin: auto;
    max-width: 700px;
    overflow: hidden;
    padding: 20px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
}

/* welcome screen button */
a:link, a:visited {
    border: 2px solid;
    border-radius: 32px;
    color: white;
    padding: 12px 24px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    background-color: rgb(233, 204, 228);
    color: black;
    text-decoration: underline;
  }


/* navigation bar */
#navbar {
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    left: 0;
    margin-bottom: 10px;
    max-width: 700px;
    overflow: auto;
    width: 100%;
}

/* formats unordered list */
#navbar ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* formats list items */
#navbar li {
    padding: 12px;
}

/* formats navbar links */
#navbar li a {
    border: none;
    border-radius: 0px;
    padding: 0;
}

/* formats active navbar links */
#navbar li a.active {
    color: rgb(233, 204, 228);
    text-decoration: underline;
}

/* hovering effect for navbar links */
#navbar li a:hover {
    background-color: rgb(233, 204, 228);
    color: black;
    text-decoration: underline;
}

#flex {
    display: flex;
    flex-direction: column;
}

/* main page content */
main {
    align-items: center;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    height: 70vh;
    max-width: 700px;
    overflow-y: scroll;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
}

/* adjusts iframe */
iframe {
    width: 640px;
    height: calc(100vh - 60px);
}

footer {
    border: 2px solid white;
    height: 40px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    width: 100%;
}

/* responsive adjustments */
@media only screen and (max-width: 800px) {
    #container, #welcome {
        max-width: 620px;
    }

    #flex {
        flex-wrap: wrap;
    }

    body {
        font-size: 16px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    iframe {
        width: 560px;
    }
}
