@import url("style.css");

/* navigation bar */
#navbar {
    max-width: 1000px;
}

/* formats navbar links */
#navbar li a {
    color: white;
    text-decoration: none;
}

#container {
    display: block;
    max-width: 1000px;
}

/* all non-navbar links */
#sidebar a {
    border: none;
    border-radius: 0px;
    color: white;
    display: block;
    font-weight: bold;
    text-decoration: none;
}

#sidebar a:hover {
    border: none;
    border-radius: 0px;
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

#sidebar a.active {
    color: #a194da;
    text-decoration: underline;
}

#flex {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    height: 70vh;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1000px;
    overflow: hidden;
}

/* sidebar */
aside {
    background-color: rgba(255,255,255,0.25);
    border: 4px double white;
    display: inline-block;
    color: white;
    flex: 0 1 250px;
    padding: 20px;
    font-size: smaller;
    text-align: center;
}

#sidebar { order: 1; }

/* main content */
main {
    display: block;
    flex: 1;
    height: 100%;
    max-width: 1000px;
    max-height: 70vh;
    order: 2;
    padding: 0;
}

/* iframe for importing project posts */
iframe {
    border: none;
    height: 170vh;
    width: 100%;
}

footer {
    background-color: rgba(255,255,255,0.25);
    border: 4px double white;
    height: 40px;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    width: 100%;
}

@media only screen and (max-width: 800px) {
    html { transform: scale(0.95); }
    
    #container { max-width: 600px; }

    #flex { 
        align-items: center;
        flex-direction: column; 
        gap: 10px;
    }

    aside, main { width: 100%; }

    aside {
        flex: 0 1 120px; 
    }

    main { order: 1; }

    #sidebar { order: 2; }

    #sidebar a {
        display: inline;
    }
}
